* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    position: relative;
}
.container {
    background-image: url(images/map.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    left: 0;
    right: 0;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}